div{
	width:300px;
	height:200px;
	font-size: 24px;
	margin-left: 20px;
	display: inline-block; 
}
*{
	font-family: 'Rokkitt',serif;
	background-color: #3059c0;
	color: white;
	text-decoration: none;
}
a{
	color:#ed6243;
}
h1{
	color:#ed6243;
}

