*{
	font-family: 'Inconsolata', monospace;
}
h2{
	text-align: center;
}
h4{
	text-align: center;
}
.title{
	font-size: 72px;
	margin-left: 180px;
	margin-top: 200px;
	color: black;

}
.body{
	font-size: 72px;
	margin-left: 900px;
	margin-top: -165px;
	color: black;
}
a:link{
	text-decoration: none;
	color:black;

}
a:hover{
	color: black;
}
a:visited{
	color: black;
}
li{
	font-size: 24px;
	margin-left: 30px;
}
